/* styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #337ab7;
}

nav a:hover {
  color: #23527c;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#order-list {
  margin-top: 20px;
}

#order-list h2 {
  margin-top: 0;
}

/* Navigation Menu Styles */
nav ul {
  display: none;
}

nav:hover ul {
  display: block;
}

/* New Item Page Styles */
.new-item-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-item-form label {
  display: block;
  margin-bottom: 10px;
}

.new-item-form input[type="text"],
.new-item-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.new-item-form input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.new-item-form input[type="submit"]:hover {
  background-color: #23527c;
}